<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}挣钱花 部署系统{% end %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/deploy/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/deploy/css/deploy.css" rel="stylesheet">
  </head>

  <body>

    {% include navbar.html %}

    {% block container %}{% end %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/deploy/js/jquery-1.11.3.min.js"></script>
    <script src="/static/deploy/js/bootstrap.min.js"></script>

    {% block custom-js %}{% end %}
  </body>
</html>